@import "cvm/vars";
@import "cvm/header";
@import "cvm/timeline";
@import "cvm/competences";
@import "cvm/loisirs";
@import "cvm/footer";

body {
    padding: 0;
    margin: 0;
    font-size: .9em;
    font-family: Arial, serif, sans-serif;
}

section {
    z-index: 20;

    > div {
        padding: 20px $space-separator;

        blockquote {
            margin: 0;

            p.citation {
                font-style: italic;
                color: #8c8c8c;
                font-size: 1.7em;
            }

            a {
                text-decoration: none;
                font-size: 1.4em;
            }

            span.auteur {
                font-size: .85em;
                color: $main-color;
            }
        }

        &.item {
            color: #4d4d4d;
            display: none;

            h4 {
                display: inline-block;
                margin: 0 0 0 $space-separator;
                font-weight: normal;
            }
        }

        &#contact-content {
          display: flex;
          justify-content: space-around;
          background-color: #1a1a1a;

            p{
              text-align: center;
              i {
                  color: $main-color;
                  font-size: 5em;
              }

              a{ display: block; margin-top: 20px; font-size: 1.2em;}
            }
        }
    }

    &.presentation {
        background-color: $bg-presentation;
    }
}

.item-content{

    i {
        color: $main-color;
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
        color: darken($main-color, 10%);
    }
}

.item-content.showed {
    display: block;
}

.item-content i{
    font-size: 1.1em;
    margin-right: 10px;
}

@import 'responsive/tablette';
@import 'responsive/mobile';
