header {
  background-color: #ff6600;
  position: relative;
  height: 100px;
  z-index: 500; }
  header div#profil {
    display: flex;
    position: absolute;
    left: 16px;
    bottom: -40px; }
    header div#profil img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border: 10px solid #ff6600; }
    header div#profil div#nom {
      padding: 16px 0 0 16px; }
      header div#profil div#nom h1, header div#profil div#nom h3 {
        margin: 0;
        font-weight: normal; }
      header div#profil div#nom h1 {
        font-size: 1.4em;
        color: white; }
      header div#profil div#nom h3 {
        color: #3e3e41; }

.timeline {
  position: relative;
  padding-left: 15px; }
  .timeline .block {
    padding: 5px;
    position: relative;
    background-color: white; }
    .timeline .block .content {
      padding: 10px 20px;
      background-color: #ffc299;
      position: relative;
      border-radius: 6px; }
      .timeline .block .content::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: -9px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ffc299 transparent transparent; }
      .timeline .block .content::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 24px;
        left: -29px;
        background-color: white;
        border: 2px solid #ff6600;
        border-radius: 50%;
        z-index: 1; }
  .timeline::after {
    content: ' ';
    position: absolute;
    width: 2px;
    background-color: #ff6600;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -3px; }

ul.competences {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center; }
  ul.competences li {
    list-style: none;
    display: inline-block; }
    ul.competences li p {
      margin: 10px auto 0 auto; }
    ul.competences li .progress {
      display: -ms-flexbox;
      display: flex;
      height: 1rem;
      overflow: hidden;
      font-size: .75rem;
      background-color: #ebebeb;
      border-radius: .25rem; }
      ul.competences li .progress .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #007bff;
        transition: width .6s ease; }
        ul.competences li .progress .progress-bar.bg-html-css {
          background-color: #28a745; }
        ul.competences li .progress .progress-bar.bg-javascript-jquery {
          background-color: #17a2b8; }
        ul.competences li .progress .progress-bar.bg-php-symfony {
          background-color: #dc3545; }
        ul.competences li .progress .progress-bar.bg-c-cpp {
          background-color: #007bff; }
        ul.competences li .progress .progress-bar.bg-node-react {
          background-color: #ffc107; }

span.loisir {
  font-size: .95em;
  color: white;
  display: inline-block;
  margin: 0 10px;
  padding: 6px 12px;
  background-color: #007bff;
  border-radius: 3em; }

footer {
  background-color: #ff6600;
  text-align: center;
  color: white;
  font-size: .95em;
  padding: 20px 0; }
  footer p {
    margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-size: .9em;
  font-family: Arial, serif, sans-serif; }

section > div {
  border-bottom: 1px solid #fff0e6;
  padding: 20px 16px; }
  section > div blockquote {
    margin: 0; }
    section > div blockquote p.citation {
      font-style: italic;
      color: #8c8c8c; }
    section > div blockquote span.auteur {
      font-size: .85em;
      color: #ff6600; }
  section > div.item {
    cursor: pointer;
    color: #4d4d4d; }
    section > div.item h4 {
      display: inline-block;
      margin: 0 0 0 16px;
      font-weight: normal; }
    section > div.item.selected {
      background-color: #ff6600;
      color: #ffffff;
      border-bottom: none;
      padding-bottom: 22px; }
section.presentation {
  background-color: #f9f9fb; }

.item-content {
  display: none; }
  .item-content i {
    color: #ff6600;
    font-size: 1.2em; }
  .item-content a {
    text-decoration: none;
    color: #cc5200; }

.item-content.showed {
  display: block; }

.item-content i {
  font-size: 1.1em;
  margin-right: 10px; }

/*# sourceMappingURL=cvm.css.map */
