div#profil {
        left: $space-separator-mobile;
        top: 30px;

        img {
            width: $image-size-mobile;
            height: $image-size-mobile;
        }

        div#nom {
            padding: $space-separator-mobile 0 0 $space-separator-mobile;

            h1 { font-size: 1.5em; }

            h3 {    }
        }

    }
