header {
    background-color: $main-color;
    position: relative;
    height: 130px;
    z-index: 500;

    div#profil {
        display: flex;
        position: absolute;
        left: 20px;
        top: 30px;

        img {
            border-radius: 50%;
            width: $image-size-default;
            height: $image-size-default;
            border: 15px solid $main-color;
        }

        div#nom {
            padding: $padding-name-width 0 0 $padding-name-width;

            h1, h3 {
                margin: 0;
                font-weight: normal;
            }

            h1 {
                font-size: 2em;
                color: white;
            }

            h3 {
                font-size: 1.4em;
                color: lighten($main-color, 40%);
            }
        }

    }
}
