$main-color:                #004AA3;

$bg-presentation:           #f9f9fb;
$bg-html-css:               #28a745;
$bg-javascript-jquery:      #17a2b8;
$bg-php-symfony:            #dc3545;
$bg-c-cpp:                  #007bff;
$bg-node-react:             #ffc107;
$bg-contact-section:        #282A2B;

$space-separator:                  200px;
$space-separator-tablette:          120px;
$space-separator-mobile:           16px;

$image-size-default:      150px;
$image-size-tablette:     130px;
$image-size-mobile:           80px;

$padding-name-width:    30px;
$padding-name-width-tablette: 25px;
