$main-color:                #ff6600;

$bg-presentation:           #f9f9fb;
$bg-html-css:               #28a745;
$bg-javascript-jquery:      #17a2b8;
$bg-php-symfony:            #dc3545;
$bg-c-cpp:                  #007bff;
$bg-node-react:             #ffc107;

$space-separator:           16px;
